SERVER_PORT=`SERVER_PORT`
REDIS_PASSWORD=`REDIS_PASSWORD`
INTERNAL_SECRETS_JSON=/app/config/internal-secrets.json
#SMS Services
MSG91_AUTH_KEY=`MSG91_AUTH_KEY`
MSG91_TEMPLATE_ID=`MSG91_TEMPLATE_ID`
# Whatsapp Service (twilio)
TWILIO_WHATSAPP_NUMBER=`TWILIO_WHATSAPP_NUMBER`
TWILIO_MESSAGING_SERVICE_SID=`TWILIO_MESSAGING_SERVICE_SID`
TWILIO_AUTH_TOKEN=`TWILIO_AUTH_TOKEN`
TWILIO_ACCOUNT_SID=`TWILIO_ACCOUNT_SID`
TWILIO_CONTENT_SID_DIALFLOW_PROVIDER=`TWILIO_CONTENT_SID_DIALFLOW_PROVIDER`
SEND_WHATSAPP_NOTIFICATION=`SEND_WHATSAPP_NOTIFICATION`

#Email Services
MAIL_LOG=`MAIL_LOG`

#AWS
SMTP_AWS_SES=`SMTP_AWS_SES`
AWS_SECRET_ACCESS_KEY=`AWS_SECRET_ACCESS_KEY`
AWS_ACCESS_KEY_ID=`AWS_ACCESS_KEY_ID`
AWS_REGION=`AWS_REGION`

#GMAIL
SMTP_GMAIL=`SMTP_GMAIL`
GMAIL_USER=`GMAIL_USER`
GMAIL_PASS=`GMAIL_PASS`

#Feature Flags
LOG_ACTIVITY=`LOG_ACTIVITY`
